/* styles.css */
.button-image {
    -fx-background-color: transparent; /* Fondo transparente */
    -fx-border-color: transparent;    /* Sin borde */
    -fx-padding: 0;                   /* Sin relleno */
}
.body {
    -fx-background-image: url("/org/example/eiscuno/images/unobg.png");
    -fx-background-size: cover; /* Ajusta la imagen al tamaño del Pane */

}